:root

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;


}

/* navigation menu */
.link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
}

.site-nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
li {
    list-style: none;
}
.contacts-nav {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

/* section 1 -  page title + button order */
.title {
    background-color: #2E2F42;
}
.page-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    width: 496px;
}
.button-order {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
}


/* section 4 - our team  */
.our-team {
    background: #F4F4FD;
}
.info-team h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
}
.info-team p {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Footer */
.footer a {
   color: #F4F4FD;
   text-decoration: none;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}


/* Portfolio page - section of filter nav  */
.filters-button button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
}
